
<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">KoboToolbox WDC By Imran Ahmedani |  <a href="https://github.com/iahmedani/kobo-wdc" class="text-muted"><i class="fab fa-github"></i> iahmedani/kobo-wdc</a> | Open sourced under the GNU General Public License v3.0 <small class="text-muted" style="float: right; text-decoration: none; font-weight: 300;">
      Version: 0.1.0
    </small></span>
  </div>
</footer>

 